<% include ../partials/header %>
<header>
<h1 id="username"><%=currentUser%></i> </h1>
</header>

<main>
<ul>

<% for(let i = 0; i < users.length; i++){%>
<%console.log(users[i]._id)%>
<li>

<a href="/users/<%=users[i]._id%>">
<%=users[i].username%></a><br>


<% for(let j = 0; j < users[i].workouts.length; j++){%>


<div class="post">
<li> <%=JSON.stringify(users[i].workouts[j].workout)%></li>
<li> <%=JSON.stringify(users[i].workouts[j].variation)%></li>
<li> <%=JSON.stringify(users[i].workouts[j].weight)%></li>
<li> <%=JSON.stringify(users[i].workouts[j].reps)%></li>
</div>

<%}%>

</li> 
 
<%}%>

</ul>
</main>
<% include ../partials/footer %>
