<% include ../partials/header %>
<header>
<h1 id="loggedUser"><%=currentUser%></i> </h1>
</header>

<main>

<ul>

<% for(let i = 0; i < users.length; i++){%>

<div id="username">
<i class="fa fa-user-circle-o" aria-hidden="true"></i>
<a href="/users/<%=users[i]._id%>">
<%=users[i].username%></a><br>

</div>
<% for(let j = 0; j < users[i].workouts.length; j++){%>

<div class="post">

<li><h5>Workout Name:</h5> <%=users[i].workouts[j].workout%></li>
<li><h5>Workout Variation:</h5>  <%=users[i].workouts[j].variation%></li>
<li><h5>Workout Weight:</h5>  <%=users[i].workouts[j].weight%></li>
<li><h5>Workout Reps:</h5>  <%=users[i].workouts[j].reps%></li>
<li><h5>Likes:</h5> <%= users[i].workouts[j].likes.length %> </li>
<li><h5>Image:</h5> <img src="/workouts/<%= users[i].workouts[j]._id %>/upload"> </li>

</div>
<%}%>


 
<%}%>

</ul>

</main>
<% include ../partials/footer %>
