<% include ../partials/header %>

<main>

<div ><h2 id = "selectedusername"><%=user.username%></h2><div>
<ul>
<%for(let i = 0; i < user.workouts.length; i++){%>

<div id = "selecteduserworkouts">
<h3> Workout: <%=user.workouts[i].workout%></h3>
<h4> Variation: <%=user.workouts[i].variation%></h4>
<h4> Reps: <%=user.workouts[i].reps%></h4>
<h4> Weight: <%=user.workouts[i].weight%></h4>
<h4> Likes: <%= user.workouts[i].likes.length %></h4>
</div>

<% if(sessionId.toString() === user._id.toString()){ %>
    <!--delete button for workout-->

<div class = "editanddelete">
<form action="/workouts/<%=user.workouts[i]._id%>?_method=DELETE" method="POST">
<a href = "/"><button type="submit"><i class="fa fa-trash fa-3x" aria-hidden="true"></i></button></a>Delete Workout
</form>
<!--================================================= -->



<a href = "/workouts/<%=user.workouts[i]._id%>/edit"><i class="fa fa-edit fa-3x"></i>Edit Workout</a>
</div>

<%}%>
</ul>
<%}%>
<br><br>
</main>
<% if(sessionId.toString() === user._id.toString()){ %>
<!--delete button-->
<div id = "deleteprofile">
<form action="<%=user._id%>?_method=DELETE" method="POST">
<a href = "/"><button type="submit">Delete Profile</button></a>
</form>
<!--================================================= -->


<!-- currently only creates workouts for first person no matter
what button is pressed, we need it to add to selected person -->
<a href="/workouts/new">Add a new Workout</a><br>
<!--====================================================== -->
</div>
<%}%>



<% include ../partials/footer %>