<% include ../partials/header %>
<header>
selected/show page
</header>

<main>

<h2>Name: <%=user.username%></h2>
<ul>
<%for(let i = 0; i < user.workouts.length; i++){%>
<li>
<h3> <%=user.workouts[i].workout%></h3>
<h4> <%=user.workouts[i].variation%></h4>
<h4> <%=user.workouts[i].reps%></h4>
<h4> <%=user.workouts[i].weight%></h4>

<% if(sessionId.toString() === user._id.toString()){ %>
    <!--delete button for workout-->
<form action="/workouts/<%=user.workouts[i]._id%>?_method=DELETE" method="POST">
<a href = "/"><button type="submit">Delete Workout</button></a>
</form>
<!--================================================= --></li>



<a href = "/workouts/<%=user.workouts[i]._id%>/edit">Edit Your Workout</a>

<%}%>
</ul>
<%}%>
</main>
<% if(sessionId.toString() === user._id.toString()){ %>
<!--delete button-->
<form action="<%=user._id%>?_method=DELETE" method="POST">
<a href = "/"><button type="submit">Delete Profile</button></a>
</form>
<!--================================================= -->


<!-- currently only creates workouts for first person no matter
what button is pressed, we need it to add to selected person -->
<a href="/workouts/new">Add a new Workout</a><br>
<!--====================================================== -->
<%}%>



<% include ../partials/footer %>